html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
}

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 95%;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}

@media screen and (min-width:772px){
 .grid{
    grid-template-columns: 45% 45%;
 } 
 .final{
    width: 180%;
 }
 img{
    border-radius: 200px;
 }
}

@media screen and (min-width: 992px) {
    .grid img:nth-child(3n){
        grid-column: 1 / span 2;
    }

    img{
        border-radius: 0%;
    }
}

@media (prefers-reduced-motion){
    .body{
        a{
            display: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(50, 47, 47);
        color: #dedede;
    }

    a{
        color: #dedede;
    }
    img{
        border: 5px solid black;
    }
}
